@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
/* Palette */

/* 
#DA0037
#EDEDED
#444444
#171717 
*/

.root {
  top: 0;
  left: 0;
  display: grid;
  background-color: #171717;
}

.content {
  font-family: 'Pavanam';
  height: 100%;
}

.logo {
  width: 50px;
  height: 30px;
}

.header {
  display: flex;
  position: fixed;
  padding: 0 50px;
  min-height: 130px;
  align-items: center;
  top: 0%;
  width: 100%;
  justify-content: space-between;
  z-index: 9999;
  background-color: transparent;
  transition: .25s ease-in-out;
  user-select: none;
}

.headerScroll {
  display: flex;
  position: fixed;
  padding: 0 50px;
  min-height: 90px;
  align-items: center;
  top: 0%;
  width: 100%;
  justify-content: space-between;
  z-index: 9999;
  background-color: #222222;
  box-shadow: 0 20px 40px -10px #000;
  transition: .25s ease-in-out;
  user-select: none;
}

.headerEffectOnScroll {
  transition: .5s ease-in-out;
}

.navB {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  -moz-box-align: center;
  -moz-box-pack: justify;
  transition: .25s ease-in-out;
}

.active {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  transform: translateY(-100px);
}

.active ul {
  float: none;
}

.active ul li, .active ul a {
  display: inline-flex;
  padding: 0 10px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #DA0037;
  transition: .25s ease-in-out;
} 

.active ul a:hover {
  color: #fd648a;
  transition: .25s ease-in-out;
}

.hidden ul {
  float: none;
}

.hidden ul li, .hidden ul a {
  display: inline-flex;
  padding: 0 10px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #DA0037;
} 

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}

.mainText h1 {
  font-family: 'Pavanam', sans-serif;
  margin: 0px auto;
  padding-left: 15px;
  width: 100%;
  justify-content: center;
}

.salution {
  position: relative;
  color: #EDEDED;
  font-size: clamp(17px,4vw,23px);
  margin: 0px;
  height: 20px;
  margin-left: 5px;
}

.name {
  position: relative;
  color: #DA0037;
  font-size: clamp(50px,7vw, 90px);
  margin: 0px;
  line-height: 1.1;
}

.work {
  position: relative;
  color: #EDEDED;
  font-size: clamp(30px,5vw, 90px);
  margin: 0px;
  line-height: 1;
}

.who {
  position: relative;
  color: #444444;
  font-size: clamp(15px,3vw,25px);
  margin: 0px;
  margin-left: 5px;
}

.AboutMe {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}

.Resume {
  display: grid;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 35% 65%;
}

.AboutText {
  position: relative;
  display: block;
  color: #EDEDED;
  font-size: 20px;
  width: clamp(200px, 90%, 800px);
  text-align: justify;
  line-height: 1.5;
}

.AboutPicture {
  display: flex;
  height: 290px;
  width: clamp(100px, 24vw, 300px);
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 0px;
  border: 1px solid #EDEDED;
}

.ProfilePic {
  border-radius: 0px;
  background-size: 100% 100%;
}


.TechSkills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 400px));
  gap: 0 10px;
  list-style: none;
}

.TechSkills li::before {
  content: "\2022";
  color: #DA0037;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.HamButton, .HamHidden, .sideNav {
  display: none;
}

.HamIcon {
  position: relative;
  width: 100%;
  height: 100%;
}

.highlight {
  color: #DA0037;
}

.Projects {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

.ProjectsField {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: 33% 33% 33%;
  margin-top: 30px;
  gap: 10%;
}

.Projects hr {
  width: 100%;
  height: 2px;
  margin-top: 3%;
  text-align: center;
}

.Project {
  display: grid;
  position: relative;
  background-color: #353535;
  height: clamp(200px,30vh, 280px);
  width: 100%;
  box-shadow: 10px 10px black;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.ProjectI {
  filter: grayscale(100);
  transition: .2s ease-in-out;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.Project:hover .ProjectI {
  filter: grayscale(0);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.Project:hover {
  box-shadow: none;
  margin-left: 10px;
  margin-top: 10px;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.ProjectTitle {
  display: inline-flex;
  position: relative;
  font-size: clamp(10px,4vw,23px);
  font-family: 'Miriam Libre', sans-serif;
  color: #EDEDED;
  margin: auto auto auto 20px;
}

.ProjectLogo {
  margin: auto 15px auto auto;
  font-size: 30px;
  color: #EDEDED;
}

.ProjectText {
  display: flex;
  width: 100%;
}

.Project:hover .ProjectText .ProjectLogo {
  color: #DA0037;
  transition: .25s ease-in-out;
}

.Title {
  display: block;
  color: #DA0037;
  font-size: clamp(10px,6vw,27px);
  padding: 20px;
  border: 1px solid #EDEDED;
  margin: 10px auto;
}

.Contact {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
}



@media only screen and (max-width: 1400px) {
  .Resume {
    grid-template-columns: 100%;
  }
  
  .AboutPicture {
    width: 200px;
    height: auto;
  }
  .AboutText {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {

  .active ul, .hidden ul{
    display: none;
    
  }

  .HamButton, .HamHidden {
    display: flex;
    position: absolute;
    width: 70px;
    text-transform: none;
    border: none;
    align-items: center;
    padding: 15px;
    z-index: 9999;
    right: 0%;
    transition: 0.5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
  }
  .HamButton {
    background-color: #444444;
    right: 0%;
  }

  .HamHidden {
    background-color: transparent;
    right: -40px;
  }

  
.HamIcon {
  display: inline-block;
  height: 24px;
  width: 30px;
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  cursor: pointer;
}

.HamBars {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
}

.HamBars span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #DA0037;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out ;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
}

.HamBars span:nth-child(1) {
  top: 0px;
}

.HamBars span:nth-child(2), .HamBars span:nth-child(3) {
  top: 10px;
}

.HamBars span:nth-child(4) {
  top: 20px;
}

.HamBars.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.HamBars.open span:nth-child(2) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.HamBars.open span:nth-child(3) {
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.HamBars.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.sideNav {
  display: flex;
  position: absolute;
  width: 70vw;
  height: 115vh;
  align-items: center;
  top: 0;
  right: -100vw;
  background-color: #222222;
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  box-shadow: -25px 0 100px black;
}

.sideNav ul {
  display: block;
  position: relative;
  list-style: none;
  margin: 0 auto;
  font-family: 'Pavanam', sans-serif;
  font-size: clamp(30px, 10vw, 100px);
  justify-items: center;
  text-align: center;
}

.sideNav ul li {
  display: block;
  color: #DA0037;
  background-color: #171717;
  border-radius: 60px;
  margin: 10px 0;
  width: 60vw;
  transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}

.sideNav ul li:hover {
  color: #fd648a;
  transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}

.openSlide {
  right: 0vw;
  transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
}

.header {
  padding: 0 0;
  min-height: 90px;
}

.headerScroll {
  padding: 0 0;
  box-shadow: none;
  background-color: transparent;
}

.ProjectsField {
  grid-template-columns: 80%;
}

.Project {
  height: 27vh;
}

.ProjectTitle {
  margin-top: 10px;
}

}

@media only screen and (max-width: 500px) {
  .Project {
    height: 20vh;
  }

  .ProjectTitle {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .Project {
    height: 200px;
  }

  .ProjectTitle {
    margin-top: 10px;
  }
}